.apropos__block {
    width: 80%;
    margin: auto;
  }
  
  .apropos__titre {
    text-align: left; 
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .apropos__banner {
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 20px 0; 
  }
  
  .apropos__text {
    margin-top: 50px;
    text-align: left; 
    font-family: "VotrePolice", sans-serif; 
    margin-bottom: 100px;
  }
  
  
  