@charset "UTF-8";
.navigation {
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: top 0.3s;
  position: relative;
}

.navigation__logo {
  width: 150px;
  height: 150px;
  margin-top: 1em;
  margin-right: -160px;
}

.navigation__logo-container {
  max-width: 150px;
  display: flex;
  align-items: center;
}

.navigation__liens {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation__liens a {
  text-decoration: none;
  margin: 0 40px;
}

.navigation__liens a:hover {
  border-bottom: 2px solid #ffc048;
  padding-bottom: 3px;
}

.navigation__accueil, .navigation__apropos, .navigation__ateliers, .navigation__benevoles, .navigation__partenaires, .navigation__agenda, .navigation__contact {
  color: black;
  text-decoration: none;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 500;
}

.navigation__contact {
  color: #E85E78;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Styles pour les tablettes (ajustez les valeurs en conséquence) */
@media only screen and (max-width: 768px) {
  .navigation {
    flex-direction: column; /* Mettez en colonne pour les tablettes */
    align-items: center;
  }
  .navigation__liens {
    margin-top: 1em;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .navigation__liens a {
    margin: 10px 0; /* Espacement entre les liens */
  }
}
/* Styles pour les téléphones  */
@media only screen and (max-width: 480px) {
  .navigation__logo {
    width: 100px;
    height: 100px;
    margin-right: 0;
  }
  .navigation__liens {
    margin-top: 1em;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .navigation__liens a {
    margin: 10px 0;
  }
}
footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 30px;
}

.footer {
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: auto;
}

.footer__contact, .footer__mentions, .footer__text {
  font-size: 15px;
  list-style: none;
  text-decoration: none;
  color: black;
}

.footer__contact,
.footer__mentions {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 10px;
  position: relative;
  display: inline-block;
}

.footer__contact::before,
.footer__mentions::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #5e829b;
  transition: width 0.3s ease;
}

.footer__contact:hover::before,
.footer__mentions:hover::before {
  width: 10%;
}

.footer__logo-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer__youtube, .footer__instagram, .footer__facebook {
  width: 50px;
  height: 50px;
  margin: 0 35px;
  transition: transform 0.3s ease;
}

.footer__youtube:hover, .footer__instagram:hover, .footer__facebook:hover {
  transform: scale(1.2);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.banner {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}

.banner__logo {
  width: 82%;
  height: auto;
  object-fit: cover;
}

.banner__text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 79.6%;
  transform: translate(-50%, -50%);
  background-color: rgba(93, 87, 87, 0.5); /* Couleur de fond gris peu opaque */
  padding: 20px;
  color: white; /* Couleur du texte */
  text-transform: uppercase;
  font-size: 40px;
}

.missionb {
  margin-bottom: 100px;
}

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.mission__img {
  width: 40%;
  height: 436px;
  object-fit: cover;
}

.mission__titre, .temoignages__titre {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}

.mission__block, .temoignages__block {
  padding: 20px;
  background-color: #f7f7f7;
  width: 40%;
  height: 400px;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.mission__text {
  font-size: 23px;
  font-weight: 100;
  align-items: center;
}

.temoignages__block {
  padding: 20px;
  background-color: #f7f7f7;
  width: 40%;
  height: 460px;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.temoignages__nom {
  font-size: 24px;
  font-weight: bold;
}

.temoignages__video {
  width: 40%;
  height: 500px;
  object-fit: cover;
}

.temoignages {
  display: flex;
  margin-bottom: 100px;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.temoignages__text {
  font-size: 30px;
  font-weight: 200;
}

.choix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  width: 80%;
  margin: 0 auto; /* Pour centrer le bloc choix au milieu de la page */
  padding: 20px;
  margin-bottom: 100px;
}

.atelier__block,
.partenaires__block,
.actualites__block {
  text-align: center;
  cursor: pointer;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  text-decoration: none;
}

.atelier__vignette,
.partenaires__vignette,
.actualites__vignette {
  width: 200px; /* Ajustez la largeur selon vos besoins */
  height: 200px;
}

.atelier__titre,
.partenaires__titre,
.actualites__titre {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  background-color: white; /* Ajout du fond blanc */
  border-radius: 28px; /* Border-radius pour arrondir les coins */
  padding: 20px; /* Ajout de rembourrage pour l'espace entre le texte et le bord */
  border-bottom: 2px solid #ddd;
}

.partenaires__titre {
  padding-left: 30px;
  padding-right: 30px;
  padding: 20px;
}

.atelier__block:hover,
.partenaires__block:hover,
.actualites__block:hover {
  transform: scale(1.1); /* Ajustez la mise à l'échelle selon vos besoins */
  transition: transform 0.3s ease; /* Durée de l'animation */
}

.titre__contact {
  font-size: 40px;
  font-weight: bold;
  margin-left: 140px;
  margin-bottom: 100px;
}

.vignette__contact {
  width: 600px;
  height: 700px;
  object-fit: cover;
}

.infos__contact {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  position: relative;
}

.vignette__mail, .vignette__telephone {
  width: 65px;
  height: 65px;
}

.carre {
  position: absolute;
  right: -30px;
  background-color: black;
  height: 500px;
  width: 500px;
  padding-top: 30px;
  text-align: center;
  margin-top: 90px;
}

.carre__mail {
  margin-top: 60px;
}

.carre__telephone {
  margin-top: 30px;
}

.titre__mail, .titre__telephone {
  color: white;
  font-size: 25px;
  font-weight: 400;
}

.text__mail, .text__telephone {
  color: white;
  font-size: 21px;
  font-weight: 400;
}

.formulaire__contact {
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin-bottom: 100px;
  padding-left: 40px;
}

.formulaire__contact:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.formulaire__contact h2 {
  color: #333;
  text-align: center;
}

.formulaire__contact form {
  display: grid;
  gap: 15px;
}

.formulaire__contact label {
  font-size: 16px;
  color: #555;
  transition: color 0.3s ease;
}

.formulaire__contact input,
.formulaire__contact textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.formulaire__contact input:focus,
.formulaire__contact textarea:focus {
  border-color: #E85E78;
  box-shadow: 0 0 10px rgb(252, 99, 110);
}

.formulaire__contact input[type=submit] {
  background-color: #E85E78;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.formulaire__contact input[type=submit]:hover {
  background-color: #E85E78;
}

.formulaire__contact input[type=submit]:active {
  background-color: #E85E78;
}

#nom, #prenom, #email, #objet, #message, #envoyer {
  width: 90%;
}

/*# sourceMappingURL=style.css.map */
